body {
    font-size: .875rem;
    font-family: 'Montserrat', sans-serif !important;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
   * Utilities
   */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.sub-card {
    font-size: 14px;
    font-weight: 200;
}

.h2-results {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
}

.slidecontainer {
    width: 100%;
    margin-top: 15%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.icons-header {
    padding-left: 3% !important;
}

.icons-header>.feather {
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
}

.button-search {
    border-color: #fff #fff #495057 #fff !important;
    border-radius: 0 0 0px 8px !important;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
}

#icon-input-search {
    border-color: #fff #fff #495057 #fff !important;
    background: #fff !important;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}

#icon-input-search>svg {
    border-radius: 0px 0px 8px 0px;
}

.product {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 1%;
    margin-bottom: 3%;
}

.product-img {
    margin-top: -13%;
}

.product-info{
    border-right: 1px solid #e5e5e5;
}
.product-info>h4 {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.product-info>span {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
}

.product-info>span>strong {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
}

.product-info>p {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    
}

.product-price>.product-price-cart {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #686868;
    border-radius: 8px;
}

.product-price>.free-shipping {
    height: 17px;
    left: 90.42%;
    right: 4.48%;
    top: calc(50% - 17px/2 - 265.5px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
    margin-left: 6%;
}



.product-price>.product-retangle {
    margin-left: 42%;
    margin-top: -13%;
    color: #787878;
}

.product-price>.product-retangle>button {
    background: #787878;
}

.product-price>.price-item {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    max-width: 50%;
}

.sub-header {
    display: inline-flex;
    flex-direction: unset;
}

.sub-header>li>a {
    margin: 0px 10px 0px 10px;
    color: #2C2C2C !important;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

.sub-header>li {
    margin: 5px 5px 5px 5px;
    color: #000 !important;
}

.sub-header>li>svg {
    margin-top: 7px;
    width: 24px;
    height: 24px;
}

.sub-header>li>.user {
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: -4%;
}

.sub-header>li>.user>svg {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-bottom: -6%;
    margin-top: 2%;
    box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.235413);
}

.btn-config {
    left: 96.04%;
    right: 1.88%;
    top: 5.97%;
    bottom: 91.99%;
    background: #717171;
    color: #fff;
    border-radius: 49%;
}

.results-combobox {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    max-width: 150px;
}

.results-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.filter-seacher-btns {
    margin-left: 20% !important;
}

.logo {
    max-width: 86% !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

.label-sidebar-filter {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 8%;
}

.h2-filters {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
}

input[type=checkbox] {
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 16px;
    width: 16px;
    border: 1px solid;
}

input[type=checkbox]:checked {
    background-color: #606060;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

input[type=radio] {
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 16px;
    width: 16px;
    border: 1px solid;
    border-radius: 50%;
}

input[type=radio]:checked {
    background-color: #606060;
    /* background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
*/
}

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid #606060;
    /* just for demo */
    width: 100%;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #606060;
    background-position: right top;
    width: 100%;
    border-radius: 10px;
}

input[type=range]::-moz-range-track {
    background-color: #606060;
    background-position: right top;
}

input[type=range]::-ms-track {
    background-color: #606060;
    background-position: right top;
    background-repeat: no-repeat;
    /* no repeat means background appears a little on the left due to width issue and hence the fix */
    width: 100%;
    /* to fix width issue in Edge */
    color: transparent;
    /* to avoid the intermediate stripe lines in < IE11 */
    border: none;
    /* just do away with the track's border */
}

input[type=range]::-ms-fill-lower {
    background: transparent;
    /* IE11 has default fill and that needs to be removed */
}

.fill {
    color: #C4C4C4;
}

.fill>svg {
    fill: #fff !important;
}

.rating-1>svg {
    fill: #C4C4C4;
}

.rating-2>svg {
    fill: #C4C4C4;
}

.rating-3>svg {
    fill: #C4C4C4;
}

.page-item.active .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #787878 !important;
    border-color: #787878 !important;
    border-radius: 50% !important;
}

.page-link {
    border: none;
    color: #787878;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 4px;
    text-align: left;
}

.sidebar {
       background: #fff !important;
       color: #2C2C2C;
}

.arrow  {
    margin-left: 88%;
}

.sidebar .nav-link{
    color: #2C2C2C;

}

.form-check {
     margin-left: 8% !important;

}

.filter-nav{
 margin-bottom: 4% !important;
}

.product-price-wishlist{
    background: #EDEDED;
    border-radius: 8px;
    max-width: 160px;
    width: 100%;
    margin-bottom: 2%;
}


/*

.product-price-wishlist {
    height: 18px;
    left: 36.02%;
    right: 25.81%;
    top: calc(50% - 18px/2 + 0.5px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #2C2C2C;
}*/

.h2-cards{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
/* identical to box height, or 121% */


color: #2C2C2C;
}







/**Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    

 }


/**Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    

 }


/**Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    

 }

/**Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    

 }


/**Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    
    .product-info>h4 {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: center;
    }

    .product-info>p {
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: justify;
    }

    .product-price>.product-retangle>button {
        background: #787878;
        margin-top: 21%;
        margin-left: -67%;
    }

    .product-price>.price-item {
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        max-width: 100%;
        margin-top: 5%;
    }

    .product-price>.product-price-cart {
        margin-bottom: 16%;
        background: #686868;
        border-radius: 8px;
    
    }

    .rating-mobile{
        margin-left: 10%;
    }
 }